# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo


#Dev Tools
.pids/
.playwright-mcp/*


# temp DB JSON files
leaderboard-api/scores.json
match-history-service/matches.json
auth-service/users.json

# Secrets
auth-service/.env